html,
body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
dd,
input {
    margin: 0;
    padding: 0;
}

body,
input {
    color: #666;
    font: 12px/1 Helvetica,Tahoma,Arial,'SimSun',sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: 100%;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

a {
    color: #666;
    text-decoration: none;
    outline: 0;
}

body,
html {
    height: 100%;
    background: #FFF;
}

.clearfix:after {
    display: block;
    clear: both;
    height: 0;
    font-size: 0;
    content: '.';
    visibility: hidden;
}

*html .clearfix {
    zoom: 1;
}

*:first-child+html .clearfix {
    zoom: 1;
}

.wrap {
    position: relative;
    width: 730px;
    margin: 0 auto;
    padding: 2px;
    background: #EBEBEB;
}

.red {
    color: red;
}

.w20 {
    width: 20%;
}

.w25 {
    width: 25%;
}

.w100 {
    width: 100%;
}

.ml20 {
    margin-left: 20px;
}

.ml45 {
    margin-left: 45px;
}

.ml115 {
    margin-left: 115px;
}

.mt20 {
    margin-top: 20px;
}

.pt20 {
    padding-top: 20px;
}

.orangelink {
    color: #F60;
    text-decoration: underline;
}

.nav {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 119px;
    z-index: 1;
}

.nav-li-a {
    display: block;
    padding: 1px 0 1px 1px;
    border: none;
    color: #AAA;
    font: normal 14px/36px 'SimSun';
    text-align: center;
    _zoom: 1;
}

.nav-li-a-select {
    padding: 0;
    border: 1px solid #CCC;
    border-right: none;
    background: #FFF;
    color: #999;
}

.box {
    position: relative;
    margin-left: 118px;
    padding: 15px 30px;
    border: 1px solid #CCC;
    background: #FFF;
    -webkit-perspective: 600px;
}

.box-tbtnbox {
    position: relative;
    height: 36px;
    margin-bottom: 15px;
}

@-webkit-keyframes page-start-animate {
    0% {
        -webkit-transform: rotateX(-90deg);
    }
    
    100% {
        -webkit-transform: rotateX(0);
    }
}

.page-start {
    /*-webkit-animation: page-start-animate .15s linear;*/
}

@-webkit-keyframes page-end-animate {
    0% {
        -webkit-transform: rotateX(0);
    }
    
    100% {
        -webkit-transform: rotateX(90deg);
    }
}

.page-end {
    /*-webkit-animation: page-end-animate .15s linear;*/
}

.gamebtn {
    position: absolute;
    width: 201px;
    background: url(images/btn.png) 0 0 no-repeat;
    color: #FFF;
    font: normal 14px/36px 'Microsoft YaHei';
    text-align: center;
    text-shadow: 1px 1px rgba(0,0,0,.2);
}

.gamebtn:hover {
    opacity: .8;
}

.gamebtn-left {
    left: 0;
}

.gamebtn-right {
    right: 0;
}

.pay-list {
    padding: 5px 0;
    border-top: 1px dashed #999;
}

.ie-width {
    *padding: 5px 1px;
}

.pay-list-li {
    float: left;
    font: normal 12px/32px 'SimSun';
}

.pay-list-radio {
    margin-left: 10px;
    margin-top: -4px;
    margin-right: 5px;
    vertical-align: middle;
}

.pay-list-text {
    width: 45px;
    margin-top: -3px;
    *margin-top: 0;
    margin-left: 5px;
    margin-right: 5px;
    padding: 2px 5px;
    border: 1px solid #CCC;
    font: normal 12px/1 'SimSun';
    text-align: right;
    vertical-align: middle;
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
         -o-transition: all .3s ease-in-out;
    outline: 0;
}

.pay-list-text:focus {
    border: 1px solid #AAA;
    box-shadow: 0 0 3px rgba(0,0,0,.2);
}

.pay-tip {
    height: 18px;
    padding: 0 5px;
    color: #999;
    font: normal 12px/18px 'SimSun';
}

.pay-stit {
    padding: 0 5px;
    color: #666;
    font: normal 14px/48px 'Microsoft YaHei';
}

.cost-a {
    display: inline-block;
    line-height: 32px;
}

.bank-icon {
    display: inline-block;
    padding-left: 32px;
    background: url(images/bank.gif) no-repeat;
    line-height: 32px;
}

.bank-icon-8 {
    background-position: 0 0;
}

.bank-icon-9 {
    background-position: 0 -32px;
}

.bank-icon-11 {
    background-position: 0 -64px;
}

.bank-icon-10 {
    background-position: 0 -96px;
}

.bank-icon-53 {
    background-position: 0 -128px;
}

.bank-icon-13 {
    background-position: 0 -160px;
}

.bank-icon-6 {
    background-position: 0 -192px;
}

.bank-icon-3 {
    background-position: 0 -224px;
}

.bank-icon-12 {
    background-position: 0 -256px;
}

.bank-icon-4 {
    background-position: 0 -288px;
}

.bank-icon-7 {
    background-position: 0 -320px;
}

.bank-icon-5 {
    background-position: 0 -352px;
}

.bank-icon-2 {
    background-position: 0 -384px;
}

.paybtn {
    display: block;
    width: 136px;
    height: 36px;
    margin: 20px auto;
    background: url(images/btn.png) 0 -63px no-repeat;
    text-indent: -999999px;
}

.paybtn:hover {
    opacity: .9;
}

.box-coverbox {
    display: none;
    position: absolute;
    left: 30px;
    _left: 0;
    top: 60px;
    width: 548px;
    border: 1px solid #CCC;
    background: #EBEBEB;
    background: rgba(235,235,235,.9);
    border-radius: 3px;
}

.box-coverbox-show {
    display: block;
}

.box-coverbox-tip-left {
    left: 93px;
}

.box-coverbox-tip-right {
    right: 93px;
}

.box-coverbox-tip,
.box-coverbox-tip2 {
    position: absolute;
    font: normal 14px/1 'SimSun';
}

.box-coverbox-tip {
    top: -6px;
    color: #EDEDED;
}

.box-coverbox-tip2 {
    top: -7px;
    color: #CCC;
}

.box-coverbox-tit {
    padding-bottom: 2px;
    background: url(images/coverbox-hr.png) center bottom no-repeat;
}

.box-coverbox-tit li,
.box-covermain-sub {
    float: left;
    width: 50%;
}

.box-coverbox-tit-a {
    display: block;
    font: normal 14px/2.5 'Microsoft YaHei';
    text-align: center;
}

.box-coverbox-tit-a-select {
    background: url(images/btn.png) 0 -115px no-repeat;
    color: #F60;
}

.box-cover {
    _width: 548px;
    *position: relative;
    overflow: hidden;
}

.box-covermain {
    width: 200%;
    padding: 10px 0;
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
         -o-transition: all .3s ease-in-out;
}

.box-covermain-slided {
    margin-left: -100%;
}

.box-coverbox-p {
    text-align: center;
}

.box-coverbox-list {
    padding: 0 30px;
}

.box-coverbox-list li {
    float: left;
    font: normal 12px/2 'SimSun';
    text-align: center;
}

.box-coverbox-list-a:hover {
    text-decoration: underline;
}

.mscrollbar {
    position: relative;
    clear: both;
    width: 100%;
}

.mscrollbar .viewport {
    position: relative;
    width: 100%;
    height: 96px;
    overflow: hidden;
}

.mscrollbar .overview {
    position: absolute;
    left: 0;
    top: 0;
    list-style: none;
    width: 100%;
}

.mscrollbar .scrollbar {
    position: absolute;
    right: 5px;
    width: 7px;
    z-index: 5;
}

.mscrollbar .track {
    position: relative;
    width: 7px;
    height: 100%;
    padding: 0;
}

.mscrollbar .thumb {
    position: absolute;
    top: 0;
    width: 7px;
    height: 20px;
    cursor: pointer;
    overflow: hidden;
}

.mscrollbar .thumb .end {
    width: 7px;
    height: 5px;
    background: transparent url(images/scroll3.png) no-repeat 50% 0;
    _background: transparent url(images/scroll3_ie6.png) no-repeat 50% 0;
    overflow: hidden;
}

.mscrollbar .thumb .bom {
    float: left;
    width: 7px;
    background: url(images/scroll3.png) no-repeat 50% 100%;
    _background: url(images/scroll3_ie6.png) no-repeat 50% 100%;
    overflow: hidden;
}

.mscrollbar .disable {
    display: none;
}

.ktip-tipbox.default {
    display: none;
    position: absolute;
    padding: 8px 15px;
    border: 1px solid #333;
    background: #FFF;
    color: #666;
    font: normal 12px/16px 'SimSun';
    z-index: 10000;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0,0,0,.2);
}

.ktip-tipbox.default .ktip-tipbox-up {
    left: 50%;
    top: -6px;
    margin-left: -7px;
}

.ktip-tipbox.default .ktip-tipbox-down {
    left: 50%;
    bottom: -7px;
    margin-left: -7px;
}

.ktip-tipbox.default .ktip-tipbox-left {
    left: -6px;
    top: 50%;
    margin-top: -7px;
}

.ktip-tipbox.default .ktip-tipbox-right {
    top: 50%;
    right: -7px;
    margin-top: -6px;
}

.ktip-tipbox.default .ktip-tipbox-direction {
    position: absolute;
    width: 12px;
    height: 12px;
}

.ktip-tipbox.default .ktip-tipbox-direction em {
    color: #333;
}

.ktip-tipbox.default .ktip-tipbox-direction em,
.ktip-tipbox.default .ktip-tipbox-direction span {
    position: absolute;
    width: 12px;
    height: 12px;
    font: normal 12px/12px 'SimSun';
}

.ktip-tipbox.default .ktip-tipbox-up span {
    top: 1px;
}

.ktip-tipbox.default .ktip-tipbox-down span {
    top: -1px;
}

.ktip-tipbox.default .ktip-tipbox-left span {
    left: 1px;
}

.ktip-tipbox.default .ktip-tipbox-right span {
    left: -1px;
}

.ktip-tipbox.default .ktip-tipbox-direction span {
    color: #FFF;
}

.ktip-tipbox.default .close-ico {
    display: block;
    position: absolute;
    top: 2px;
    right: 2px;
    width: 12px;
    height: 12px;
    color: #999;
    font: normal 12px/12px 'SimSun';
    text-align: center;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
    box-radius: 2px;
}

.ktip-tipbox.default .close-ico:hover {
    background: #37A;
    color: #FFF;
    text-decoration: none;
}

.ktip-tipbox.default a,
.ktip-tipbox.default a:active {
    color: #37A;
    text-decoration: none;
    cursor: pointer;
}

.ktip-tipbox.default a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.dialog-mask {
    position: fixed;
    _position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #FFF;
    z-index: 10001;
    opacity: .6;
    filter: alpha(opacity=60);
}

.dialog {
    position: absolute;
    left: 50%;
    top: 55px;
    width: 350px;
    height: 240px;
    margin-left: -125px;
    padding: 1px;
    border: 1px solid #CCC;
    background: #FFF;
    z-index: 10002;
    border-radius: 3px;
    box-shadow: 0 0 25px rgba(0,0,0,.2);
}

.dialog-tit {
    position: relative;
    height: 32px;
    border: 1px solid #DC4839;
    background: #F90 url(images/dia_tit.png) center 0 no-repeat;
    color: #FFF;
    font: normal 16px/2 'Microsoft YaHei';
    text-align: center;
    border-radius: 3px;
    text-shadow: 1px 1px rgba(0,0,0,.2);
}

.dialog-close {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -6px;
    color: #FFF;
    font: normal 14px/1 'SimSun';
    text-shadow: none;
}

.dialog-close:hover {
    text-shadow: 0 0 5px #FFF;
}

.dialog-main {
    padding: 15px 10px;
}

.dialog-main-sheet,
.dialog-footer {
    font-size: 0;
    letter-spacing: 0;
}

.dialog-main-sheet dt,
.dialog-main-sheet dd {
    float: left;
    font: normal 12px/22px 'SimSun';
}

.dialog-main-sheet dt {
    width: 25%;
    color: #666;
    font-weight: bold;
    text-align: right;
}

.dialog-main-sheet dd {
    width: 70%;
    padding: 0 2.5%;
    color: #666;
    text-align: left;
}

.dialog-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 35px;
    padding: 10px 0;
    border-top: 1px dashed #EEE;
}

.dialog-btn {
    display: inline-block;
    width: 118px;
    color: #FFF;
    font: normal 14px/35px 'SimSun';
    text-align: center;
}

.dialog-btn:hover {
    opacity: .8;
}

.dialog-btn-light {
    background: #F90 url(images/btn.png) 0 -155px no-repeat;
}

.dialog-btn-dark {
    background: #F90 url(images/btn.png) 0 -195px no-repeat;
}

.dialog-main-tit {
    color: #F60;
    font: normal 16px/4 'Microsoft YaHei';
    text-align: center;
}

.dialog-main-p1 {
    font: normal 12px/2 'SimSun';
    text-align: center;
}

.dialog-main-p2 {
    font: normal 12px/2 'SimSun';
    text-align: left;
}

.dialog-main-err {
    float: left;
    width: 100px;
    height: 100px;
    margin: 10px;
    background: url(images/unsmile.png) center center no-repeat;
}
