html,
body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
dd,
input {
    margin: 0;
    padding: 0;
}

body,
input {
    color: #666;
    font: 12px/1 Helvetica,Tahoma,Arial,'SimSun',sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: 100%;
    font-weight: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol,
ul {
    list-style: none;
}

a {
    color: #666;
    text-decoration: none;
    outline: 0;
}

body,
html {
    height: 100%;
    background: #FFF;
}

.clearfix:after {
    display: block;
    clear: both;
    height: 0;
    font-size: 0;
    content: '.';
    visibility: hidden;
}

*html .clearfix {
    zoom: 1;
}

*:first-child+html .clearfix {
    zoom: 1;
}

.wrap {
    position: relative;
    width: 730px;
    margin: 0 auto;
    padding: 2px;
    background: #EBEBEB;
}

.ml63 {
    margin-left: 63px;
}

.orangelink {
    color: #F60;
    text-decoration: underline;
}

.box {
    border: 1px solid #CCC;
    background: #FFF;
}

.box-title {
    width: 650px;
    height: 80px;
    background: url(images/sub_title.jpg) no-repeat;
    text-indent: -999999px;
}

.box-title-record {
    background-position: 0 0;
}

.box-title-result {
    background-position: 0 -80px;
}

.tableouter {
    margin: 10px;
}

.re_table {
    width: 100%;
    border-left: 1px solid #CCC;
    border-top: 1px solid #CCC;
    text-align: center;
}

.re_table th,
.re_table td {
    padding: 8px 0;
    border-right: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}

.pager {
    float: right;
}

.pager li {
    float: left;
    margin: 10px 5px 0 0;
    font: normal 12px/22px 'Microsoft YaHei';
}

.pager-btn {
    display: block;
    width: 22px;
    border: 1px solid #B5B5B5;
    background: url(images/page.jpg) 0 0 no-repeat;
    color: #888;
    text-align: center;
    border-radius: 2px;
}

.pager-btn-select,
.pager-btn:active {
    border: 1px solid #666;
    background: url(images/page.jpg) 0 -22px no-repeat;
    color: #FFF;
}

.pager-jumper {
    width: 24px;
    padding: 3px;
    border: 1px solid #B5B5B5;
    font: normal 12px/1 'SimSun';
    text-align: right;
    border-radius: 2px;
    outline: 0;
}

.pager-jumper:focus {
    border: 1px solid #AAA;
    box-shadow: 0 0 3px rgba(0,0,0,.2);
    -webkit-transition: all .3s ease-in-out;
       -moz-transition: all .3s ease-in-out;
         -o-transition: all .3s ease-in-out;
}

.infobox {
    padding: 10px 50px;
}

.infobox-title {
    color: #F60;
    font: normal 28px/2.5 'Microsoft YaHei';
    text-align: center;
}

.infobox-footer {
    height: 35px;
    padding: 20px 0;
    border-top: 1px dashed #EEE;
    font-size: 0;
    letter-spacing: 0;
}

.btn {
    display: inline-block;
    width: 118px;
    color: #FFF;
    font: normal 14px/35px 'SimSun';
    text-align: center;
}

.btn:hover {
    opacity: .8;
}

.btn-light {
    background: #F90 url(images/btn.png) 0 -155px no-repeat;
}

.btn-dark {
    background: #F90 url(images/btn.png) 0 -195px no-repeat;
}

.infobox-sheet {
    width: 45%;
    margin: 0 auto;
    padding: 10px 0;
    font-size: 0;
    letter-spacing: 0;
}

.infobox-sheet dt,
.infobox-sheet dd {
    display: inline-block;
    font: normal 12px/26px 'SimSun';
}

.infobox-sheet dt {
    width: 25%;
    color: #666;
    font-weight: bold;
    text-align: right;
}

.infobox-sheet dd {
    width: 70%;
    padding: 0 2.5%;
    color: #666;
    text-align: left;
}

.infobox-tip {
    text-align: center;
    font: normal 12px/1 'SimSun';
}

.infobox-tip-right {
    padding: 0 90px 20px 0;
    text-align: right;
}